

.DS_Store

# Ignore IDE files
.idea/

# Ignore checkpoints
.ipynb_checkpoints/

# Ignore pycache
__pycache__/

# Ignore saved model files - too big for GitHub without LFS
saved_models/keypoints_model_*.pt
