

.DS_Store

# Ignore IDE files
.idea/

# Ignore checkpoints
.ipynb_checkpoints/

# Ignore pycache
__pycache__/

# Ignore saved model files
saved_models/keypoints_model_*.pt

# Temporary local backups
BAK/
